<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrngber">
      <img
        src="https://images.unsplash.com/photo-1529220502050-f15e570c634e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1229&q=80"
        alt="Cleaning sign on the floor."
        width="100%"
      />
    </div>
    <div class="carousel-caption d-flex mb-5">
      <h2 class="fs-1 text-start"><strong>Floor Care</strong></h2>
      <p class="lead fs-4 text-start">Your floor cleaning products.</p>
      <button class="shadow btn btn-success start align-self-start" routerLink="">
        View Products
      </button>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrngber">
      <img
        src="https://www.nichea.co.za/nichea/file/5aeae1d8284fad3e3ff3fef4/disinfection.png"
        alt="Detergents"
        width="100%"
      />
    </div>
    <div class="carousel-caption d-flex mb-5">
      <h2 class="fs-1 text-center"><strong>Hygiene and disinfectant</strong></h2>
      <p class="lead fs-4 text-center">Take a look.</p>
      <button class="shadow btn btn-success start align-self-center" routerLink="">
        View Products
      </button>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrngber">
      <img
        src="https://images.unsplash.com/photo-1626806787461-102c1bfaaea1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
        alt="Washing machine, laundry and detergents."
        width="100%"
      />
    </div>
    <div class="carousel-caption d-flex mb-5">
      <h2 class="fs-1 text-center"><strong>Laundry Care</strong></h2>
      <p class="lead fs-4 text-center">Take a look.</p>
      <button class="shadow btn btn-success start align-self-center" routerLink="">
        View Products
      </button>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrngber">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/27/18/56/janitor-1357278_960_720.jpg"
        alt="Cleaning equipment."
        width="100%"
      />
    </div>
    <div class="carousel-caption d-flex mb-5">
      <h2 class="fs-1 text-center"><strong>Cleaning Equipment</strong></h2>
      <p class="lead fs-4 text-center">Take a look.</p>
      <button class="shadow btn btn-success start align-self-center" routerLink="">
        View Products
      </button>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrngber">
      <img
        src="https://cdn.pixabay.com/photo/2017/07/16/22/22/bath-oil-2510783_960_720.jpg"
        alt="Bath oil and fragrant oil surrounded by lavender."
        width="100%"
      />
    </div>
    <div class="carousel-caption d-flex mb-5">
      <h2 class="fs-1 text-center"><strong>Luxurious body care</strong></h2>
      <p class="lead fs-4 text-center">Upgrade your cleanup game. 😎</p>
      <button class="shadow btn btn-success start align-self-center" routerLink="">
        View Products
      </button>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrngber">
      <img
        src="https://www.nichea.co.za/nichea/file/5aeae1df284fad3e3ff3fefc/house.png"
        alt="Cleaning equipment."
        width="100%"
      />
    </div>
    <div class="carousel-caption d-flex mb-5">
      <h2 class="fs-1 text-center"><strong>Household care</strong></h2>
      <p class="lead fs-4 text-center">Take a look.</p>
      <button class="shadow btn btn-success start align-self-center" routerLink="">
        View Products
      </button>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrngber">
      <img
        src="https://images.unsplash.com/photo-1557827983-012eb6ea8dc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
        alt="Fragrance"
        width="100%"
      />
    </div>
    <div class="carousel-caption d-flex mb-5">
      <h2 class="fs-1 text-end"><strong>Fragrance</strong></h2>
      <p class="lead fs-4 text-end">Take a look.</p>
      <button class="shadow btn btn-success start align-self-end" routerLink="">
        View Products
      </button>
    </div>
  </ng-template>
</ngb-carousel>
