<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 pt-5">
        <h5 class="h5 text-success border-bottom pb-3 border-light logo">
          Nichea
        </h5>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fa-solid fa-phone"></i>
            <a class="text-decoration-none" href="tel:076 558 5160">
              Phone: 076 558 5160</a
            >
          </li>
          <li>
            <span class="text-muted">Monday-Friday: </span>9.00am - 6.00pm<br /><span
              class="text-muted"
              >Saturday & Holidays: </span
            >9.00am - 1.00pm
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:nica@nichea.co.za">
              nica@nichea.co.za</a
            >
          </li>
          <li>
            <i class="fa-solid fa-location-pin"></i>
            <a
              class="text-decoration-none"
              href="https://maps.google.com/maps/dir//Blue+Lakes+Estate+New+Modder+Rd+Kleinfontein,+Benoni+1500/@-26.186911,28.3292601,17z/data=!4m5!4m4!1m0!1m2!1m1!1s0x1e953d0ead8f3477:0x2d080beb5df8517e"
            >
              233 Blue lakes Estate, Pioneer
              <span style="padding-left: 17px">Road, Benoni, 1501</span></a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-3 col-lg-3 pt-5">
        <h5 class="h5 text-light border-bottom pb-3 border-light">Our App</h5>
        <a
          class="market-button apple-button mb-light-skin"
          data-original-title="Coming soon"
          data-placement="top"
          data-toggle="tooltip"
          href="#"
          title=""
        >
          <img
            src="../../assets/img/Download_on_the_App_Store_Badge.svg"
            width="175px"
            class="img-fluid mb-2"
            alt="App Store Logo"
          />
        </a>
        <a
          class="market-button google-button mb-light-skin"
          data-original-title="Coming soon"
          data-placement="top"
          data-toggle="tooltip"
          href="#"
          title=""
        >
          <img
            src="../../assets/img/Google_Play_Store_badge_EN.svg"
            width="175px"
            class="img-fluid mb-2"
            alt="Google Play Logo"
          />
        </a>
        <a
          class="market-button windows-button mb-light-skin"
          data-original-title="Coming soon"
          data-placement="top"
          data-toggle="tooltip"
          href="#"
          title=""
        >
          <img
            src="../../assets/img/download-from-windows-store-icon-logo-allvectorlogo.com-ai.svg"
            width="175px"
            class="img-fluid mb-2"
            alt="Microsoft Windows Logo"
        /></a>
      </div>

      <div class="col-md-3 pt-5">
        <h5 class="h5 text-light border-bottom pb-3 border-light">About Us</h5>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">FAQs</a></li>
          <li><a class="text-decoration-none" href="#">Blog</a></li>
          <li>
            <a class="text-decoration-none" routerLink="/about">About Nichea</a>
          </li>
          <li><a class="text-decoration-none" href="#">Our Story</a></li>
          <li><a class="text-decoration-none" href="#">Services</a></li>
          <li>
            <a class="text-decoration-none" href="#"
              ><img
                width="105"
                class="img-fluid logo"
                src="https://www.nichea.co.za/assets/img/sabs.png"
                alt="SABS Approved Image"
            /></a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 pt-5">
        <h5 class="h5 text-light border-bottom pb-3 border-light">
          Account &amp; Shipping Info
        </h5>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Your Account</a></li>
          <li><a class="text-decoration-none" href="#">Track my order</a></li>
          <li>
            <a class="text-decoration-none" href="#"
              >Shipping Rates &amp; Policies</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#"
              >Refunds &amp; Replacements</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#">Terms &amp; conditions</a>
          </li>
          <li><a class="text-decoration-none" href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="row text-light mx-auto">
      <div class="w-100 my-3 border-top border-light"></div>
      <div class="my-3" style="max-width: 615px">
        <img
          class="img-fluid"
          alt="Payment Methods"
          src="https://www.nichea.co.za/assets/img/payment_methods.png"
        />
      </div>
    </div>

    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
      <div class="col-auto me-auto">
        <ul class="list-inline text-left footer-icons">
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              rel="nofollow"
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.facebook.com/nicheachem"
              ><i class="fab fa-facebook-f fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.instagram.com/nicheanica/"
              ><i class="fab fa-instagram fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://twitter.com/nicheachem"
              ><i class="fab fa-twitter fa-lg fa-fw"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="email">Email address</label>
        <div class="input-group mb-2">
          <input
            type="email"
            id="email"
            placeholder="Email address"
            class="form-control bg-light border-3"
          />
          <button
            class="input-group-text btn btn-success text-light light-green"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
