<div class="container-fluid py-5 px-5 row bg-dark-backdrop text-light">
  <div class="col-md-6 mr-3">
    <h1 class="h1 text-uppercase">Contact Us</h1>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
        <a class="text-decoration-none nav-link active" href="mailto:nica@nichea.co.za"
          ><i class="fa-solid fa-envelope"></i> nica@nichea.co.za</a
        >
      </li>
      <li>
        <i class="fa-solid fa-clock" color="black"></i
        ><span class="text-muted"> Monday-Friday:</span> 9.00 am - 6.00 pm<br /><span
          class="text-muted indent"
          >Saturday & Public Holidays:</span
        >
        9.00 am - 1.00 pm
      </li>
    </ul>
  </div>
</div>

<iframe
  class="mb-0 bg-light"
  width="100%"
  height="600"
  style="border: 0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=API_KEY&q=233%20Blue%20lakes%20Estate%2C%20Pioneer%20Road%2C%20Benoni%2C%201501"
>
</iframe>
