<div class="container-fluid py-5 px-5 row bg-dark-backdrop text-light">
  <div class="col-md-12 mr-3">
    <h1 class="h1 text-uppercase text-end">ABOUT NICHEA</h1>
  </div>
</div>

<div class="container marketing featurette">
  <div class="row featurette">
    <div class="col-md-7 my-auto">
      <h2 class="featurette-heading fw-normal lh-1">
        Search, Select,
        <span class="text-muted">Buy Online.</span>
      </h2>
      <p class="lead">
        Nichéa started in 1991 as an industrial cleaning chemical supplier.
      </p>
      <p class="lead">
        Nichéa chemicals has supplied resellers and contract cleaners with
        quality cleaning chemicals. Since we started we have constantly adapted
        and improved our cleaning chemicals to meet market demands. This means
        that there are regularly new cleaning products added to our range.
      </p>
      <p class="lead">
        Our range of&nbsp; chemicals include:
        <!----><a
          class="btn btn-outline-success light-green btn-sm ng-star-inserted"
          href="/products/Floor%20Care"
          >Floor Care</a
        ><a
          class="btn btn-outline-success light-green btn-sm ng-star-inserted"
          href="/products/Hygiene%20and%20disinfectant"
          >Hygiene and disinfectant</a
        ><a
          class="btn btn-outline-success light-green btn-sm ng-star-inserted"
          href="/products/Laundry%20care"
          >Laundry care</a
        ><a
          class="btn btn-outline-success light-green btn-sm ng-star-inserted"
          href="/products/Cleaning%20equipment"
          >Cleaning equipment</a
        ><a
          class="btn btn-outline-success light-green btn-sm ng-star-inserted"
          href="/products/Luxurious%20body%20care"
          >Luxurious body care</a
        ><a
          class="btn btn-outline-success light-green btn-sm ng-star-inserted"
          href="/products/Household%20care"
          >Household care</a
        ><a
          class="btn btn-outline-success light-green btn-sm ng-star-inserted"
          href="/products/FRAGRANCE"
          >FRAGRANCE</a
        >
      </p>
      <p class="lead">
        Nichéa offers its own label&nbsp;cleaning chemicals&nbsp;as well as
        doing&nbsp;contract supplying&nbsp;for a wide variety of clients. We are
        able to supply both liquid and powder&nbsp;cleaning chemicals.
      </p>
      <p class="lead">
        Nichea offers SABS approved cleaning chemicals and equipments from the
        comfort of your home, office or holiday. Search, Select, Add to Basket
        and Buy Online.
        <img src="https://www.nichea.co.za/assets/img/sabs1.png" width="15%" />
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="https://www.nichea.co.za/assets/img/features/01.jpg"
        alt="Cart Icon"
        class="img-fluid"
        width="500"
        height="500"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-5">
      <img
        src="https://www.nichea.co.za/assets/img/features/02.jpg"
        alt="Cell Phone"
        class="Delivery Truck"
        width="500"
        height="500"
      />
    </div>
    <div class="col-md-7 my-auto">
      <h2 class="featurette-heading fw-normal lh-1">
        Fast Delivery
        <span class="text-muted">Nationwide.</span>
      </h2>
      <p class="lead">
        For orders over R250, Nichea delivers free of charge within South
        Africa, either door-to-door, door-to-counter, depending on where you’re
        located. For orders under R250, Nichea charges a non-refundable R50 fee
        to deliver either door-to-door or door-to-counter, depending on where
        you’re located. If you reside outside of a main centre but would like
        door-to-door delivery you can select that delivery option for a
        non-refundable R200 delivery fee.
      </p>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 my-auto">
      <h2 class="featurette-heading fw-normal lh-1">
        Great Mobile App.
        <span class="text-muted"> Shop On The Go.</span>
      </h2>
      <p class="lead">
        Nichéa started in 1991 as an industrial cleaning chemical supplier.
      </p>
      <p class="lead">
        Nichéa chemicals has supplied resellers and contract cleaners with
        quality cleaning chemicals. Since we started we have constantly adapted
        and improved our cleaning chemicals to meet market demands. This means
        that there are regularly new cleaning products added to our range.
      </p>
      <div class="row">
        <div class="col-sm-3">
            <a href=""><img width="155" src="../../assets/img/Download_on_the_App_Store_Badge.svg" class="img-fliud" alt=""></a>
        </div>
        <div class="col-sm-3">
            <a href=""><img width="155" src="../../assets/img/Google_Play_Store_badge_EN.svg" class="img-fliud" alt=""></a>
        </div>
        <div class="col-sm-3">
            <a href=""><img width="177" src="../../assets/img/download-from-windows-store-icon-logo-allvectorlogo.com-ai.svg" class="img-fliud" alt=""></a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img
        src="https://www.nichea.co.za/assets/img/features/03.jpg"
        alt="Cellphone"
        class="img-fluid"
        width="500"
        height="500"
      />
    </div>
  </div>
</div>
