<ul class="pagination pagination-lg justify-content-end" *ngIf="!!pagination">
  <li class="page-item" *ngIf="pagination[1][0]">
    <a
      class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
      [routerLink]="resolveLink(pagination[0][0]-1)"
      tabindex="-1"
      >Previous</a
    >
  </li>
  <li
    class="page-item"
    *ngFor="let page of pagination[0]"
    [ngClass]="page === currentPage ? 'disabled' : ''"
  >
    <a
      class="page-link rounded-0 mr-3 shadow-sm border-0 text-dark"
      [ngClass]="page === currentPage ? 'active' : ''"
      href="#"
      tabindex="-1"
      [routerLink]="resolveLink(page)"
      >{{ toString(page) }}</a
    >
  </li>
  <li class="page-item" *ngIf="pagination[1][1]">
    <a
      class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
      [routerLink]="resolveLink(pagination[0][2]+1)"
      tabindex="-1"
      >Next</a
    >
  </li>
</ul>
