<div class="row">
  <div class="col-md-6">
    <ul class="list-inline shop-top-menu pb-3 pt-1">
      <li class="list-inline-item">
        <a
          class="h3 text-dark text-decoration-none mr-3"
          routerLink="/products/1"
          >All</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card mb-4 product-wap rounded-0">
      <div class="card rounded-0">
        <img
          class="card-img rounded-0 img-fluid"
          [src]="imageLink + '/' + product.image.id + '/' + product.image.name"
        />
        <div
          class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
        >
          <ul class="list-unstyled">
            <li>
              <a class="btn btn-success text-white" href=""
                ><i class="far fa-heart"></i
              ></a>
            </li>
            <li>
              <a
                class="btn btn-success text-white mt-2"
                routerLink="{{ resolveLink(product.name) }}"
                ><i class="far fa-eye"></i
              ></a>
            </li>
            <li>
              <a
                class="btn btn-success text-white mt-2"
                routerLink="{{ resolveLink(product.name) }}"
                ><i class="fas fa-cart-plus"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body text-center" height="121px">
        <a [routerLink]="['/product', product.name]" class="h3 text-decoration-none" color="black">{{
          product.name
        }}</a>
        <p class="text-center mb-0">
          From R{{ getLowestPrice(product.prices) }}
        </p>
      </div>
    </div>
  </div>
</div>

<app-pagination
  class="row"
  [params]="parameters"
  [currentPage]="currentPage"
  [pagination]="pagination"
  [category]="category"
></app-pagination>
